.form_group {
  box-sizing: border-box;
  width: 50%;
  text-align: right;
}

.form_control {
  padding: 10px 20px;
  width: 70%;
  margin-left: auto;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .form_group {
    text-align: center;
    width: 80%;
  }
}
